<% include ../partials/_header %>


<!-- Page Introduction Wrapper -->
<div class="page-style-a">
	<div class="container">
		<div class="page-intro">
			<h2>Cervezas IPA</h2>
			<ul class="bread-crumb">
				<li class="has-separator">
					<i class="ion ion-md-home"></i>
					<a href="/">Inicio</a>
				</li>
				<li class="is-marked">
					<a href="#">Cervezas IPA</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- Page Introduction Wrapper /- -->
<!-- Custom-Deal-Page -->
<div class="page-deal u-s-p-t-80">
	<div class="container">
		<div class="deal-page-wrapper">
			<h1 class="deal-heading">Cervezas IPA</h1>
			<h6 class="deal-has-total-items"></h6>
		</div>
		<!-- Page-Bar -->
		<div class="page-bar clearfix">
			<div class="shop-settings">
				<a id="list-anchor">
					<i class="fas fa-th-list"></i>
				</a>
				<a id="grid-anchor" class="active">
					<i class="fas fa-th"></i>
				</a>
			</div>
			<!-- Toolbar Sorter 1  -->
		<!--		<div class="toolbar-sorter">
				<div class="select-box-wrapper">
					<label class="sr-only" for="sort-by">Sort By</label>
					<select class="select-box" id="sort-by">
						<option selected="selected" value="">Sort By: Best Selling</option>
						<option value="">Sort By: Latest</option>
						<option value="">Sort By: Lowest Price</option>
						<option value="">Sort By: Highest Price</option>
						<option value="">Sort By: Best Rating</option>
					</select>
				</div>
			</div>  -->
			<!-- //end Toolbar Sorter 1  -->
			<!-- Toolbar Sorter 2  -->
	<!--			<div class="toolbar-sorter-2">
				<div class="select-box-wrapper">
					<label class="sr-only" for="show-records">Show Records Per Page</label>
					<select class="select-box" id="show-records">
						<option selected="selected" value="">Show: 8</option>
						<option value="">Show: 16</option>
						<option value="">Show: 28</option>
					</select>
				</div>
			</div>  -->
			<!-- //end Toolbar Sorter 2  -->
		</div>
		<!-- Page-Bar /- -->
		<!-- Row-of-Product-Container -->
		<div class="row product-container grid-style">


		

			 
			<% prodnueve.forEach(function (produn) { %>
			<div class="product-item col-lg-3 col-md-6 col-sm-6">
				<div class="item" data-id="<%= produn.id %>">
					<div class="image-container">
						<a class="item-img-wrapper-link" href="/prodnueveredirect/<%= produn.id %>">
							<img class="img-fluid" src="<%= produn.image %>" alt="Product">
						</a>
						<div class="item-action-behaviors">
							<a href="/prodnueveredirect/<%= produn.id %>" class="item-quick-look" data-toggle="modal" >Quick Look
							</a>
							<a 
									href="/likeprodnueve/<%= produn.id %>" 
									class="item-addwishlist" 
									id="btnn-like"  
									data-id="<%= produn.id %>"
									>Add to Wishlist
							</a>
							<a href="/addtocardprodnueve/<%= produn.id %>"class="item-addCart" >Add to Cart</a>
						</div>
					</div>
					<div class="item-content">
						<div class="what-product-is">
							<ul class="bread-crumb">
						 
							</ul>
							<h6 class="item-title">
								<a><%= produn.title %></a>
							</h6>
							<div class="item-description">
								<p><%= produn.description %>.
								</p>
							</div>
							<div class="item-stars">
						
							</div>
						</div>
						<div class="price-template">
							<div class="item-new-price">
								$<%= produn.oldprice %>
							</div>
							<div class="item-old-price">
								$<%= produn.price %>
							</div>
						</div>
					</div>
				 
				</div>
			</div>
			<% }) %>


		<!-- Row-of-Product-Container /- -->
		<!-- Shop-Pagination -->
		<div class="pagination-area">
			<div class="pagination-number">
				<ul>
	               <!-- pagination -->
				   <% if(pages > 0) { %> <!-- show pagination if there is pages -->
          
                    <!-- FIRST ITEM -->
                    <% if(current == 1) { %>
                      <li class="page-item disabled">
                        <a class="page-link" href="#">First</a>
                      </li>
                    <% } else { %>
                      <li class="page-item">
                        <a class="page-link" href="/prodnueveindex/1">First</a>
                      </li>
                    <% } %>
                    <!-- ITEMS  -->
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if(i !== 1) { %>
                      <li class="page-item disabled">
                        <a class="page-link" href="#">...</a>
                      </li>
                    <% } %>
                    <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
                      <% if(i == current) { %>
                        <li class="page-item active">
                          <a class="page-link" href="<%= i %>">
                            <%= i %>
                          </a>
                        </li>
                      <% } else { %>
                        <li class="page-item">
                          <a class="page-link" href="/prodnueveindex/<%= i %>">
                            <%= i %>
                          </a>
                        </li>
                      <% } %>
                      <% if (i == Number(current) + 4 && i < pages) { %>
                         <li class="page-item disabled">
                           <a class="page-link" href="#">...</a>
                         </li>
                      <% } %>
                    <% } %>
                    <!-- LAST ITEM -->
                    <% if(current == pages) { %>
                      <li class="page-item disabled">
                        <a class="page-link" href="#">
                          Last
                        </a>
                      </li>
                    <% } else { %>
                      <li class="page-item">
                        <a class="page-link" href="/prodnueveindex/<%= pages %>">
                          Last
                        </a>
                      </li>
                    <% } %>
                   
              <% } %>
				</ul>
			</div>
		</div>
		<!-- Shop-Pagination /- -->
	</div>
</div>
<!-- Custom-Deal-Page -->


<% include ../partials/_footer %>
